<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mgdoll.mapper.ManageUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.mgdoll.model.ManageUserInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_pet_name" jdbcType="VARCHAR" property="userPetName" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="insert_by" jdbcType="VARCHAR" property="insertBy" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <resultMap id="ResResultMap" type="com.example.mgdoll.model.ManageUserInfo">
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="user_pet_name" jdbcType="VARCHAR" property="userPetName" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="insert_by" jdbcType="VARCHAR" property="insertBy" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mg_manage_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.mgdoll.model.ManageUserInfo">
    insert into mg_manage_user_info (user_id, user_mobile, user_password, 
      user_pet_name, user_email, insert_by, 
      insert_time)
    values (#{userId,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userPetName,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{insertBy,jdbcType=VARCHAR},
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.mgdoll.model.ManageUserInfo">
    update mg_manage_user_info
    set user_mobile = #{userMobile,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_pet_name = #{userPetName,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      insert_by = #{insertBy,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_mobile, user_password, user_pet_name, user_email, insert_by, 
    insert_time
    from mg_manage_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_mobile, user_password, user_pet_name, user_email, insert_by, 
    insert_time
    from mg_manage_user_info
  </select>
    <select id="selectByInfo" parameterType="com.example.mgdoll.vo.ManageUserInfoVO" resultMap="BaseResultMap">
      select user_id, user_mobile, user_password, user_pet_name, user_email,
    insert_by, insert_time
    from mg_manage_user_info
    where user_mobile = #{userMobile,jdbcType=VARCHAR}
    </select>
  <select id="selectExistUserByMobile" resultType="java.lang.Integer">
    select count(user_id) from mg_manage_user_info
    where user_mobile = #{userMobile,jdbcType=VARCHAR}
  </select>
</mapper>