<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mgdoll.mapper.MgMaterialMapper">
  <resultMap id="BaseResultMap" type="com.example.mgdoll.model.MgMaterial">
    <id column="material_id" jdbcType="INTEGER" property="materialId" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="layer_level" jdbcType="INTEGER" property="layerLevel" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="color_id" jdbcType="INTEGER" property="colorId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="insert_by" jdbcType="INTEGER" property="insertBy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mg_material
    where material_id = #{materialId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.mgdoll.model.MgMaterial">
    insert into mg_material (material_id, material_name, layer_level, 
      category_id, color_id, insert_time, 
      insert_by)
    values (#{materialId,jdbcType=INTEGER}, #{materialName,jdbcType=VARCHAR}, #{layerLevel,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{colorId,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{insertBy,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.mgdoll.model.MgMaterial">
    update mg_material
    set material_name = #{materialName,jdbcType=VARCHAR},
      layer_level = #{layerLevel,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      color_id = #{colorId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      insert_by = #{insertBy,jdbcType=INTEGER}
    where material_id = #{materialId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select material_id, material_name, layer_level, category_id, color_id, insert_time, 
    insert_by
    from mg_material
    where material_id = #{materialId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select material_id, material_name, layer_level, category_id, color_id, insert_time, 
    insert_by
    from mg_material
  </select>
</mapper>